body {
    margin: 0;
    background-color: rgb(81, 42, 0);
}

section {
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    border: none;
    flex-wrap:wrap;
}

.sort-btn {
    display: flex;
    gap: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    border: none;
    width: 200px;
    max-width: 300px;
    max-height: fit-content;
    background-color: rgb(219, 158, 26);
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    color: rgb(81, 42, 0);
    font-size: 16px;
    text-align: justify;
    transition: ease-in-out transform 0.35s;
    transform: scale(1);
    position: relative;
    animation: colormove 5s infinite ease-in-out;
    animation-delay: -3s;
}

h1 {
    font-size: 20px;
    margin: 0;
    margin-top: 15px;  
    transition: ease-in-out font-size 0.5s;
}

p {
    margin-top: 10px;
}

.btn {
    text-decoration: none;
    background-color: rgb(246, 234, 144);
    padding: 10px 20px;
    border-radius: 18px;
    color: rgb(81, 42, 0);
    font-size: 16px;
    transition: ease-in-out font-size 1s, background-color 0.5s, color 0.5s;
}

.btn:hover {
    color: rgb(255, 202, 110);
    background-color: rgb(56, 26, 1);
    cursor: pointer;
}

.card-content:hover {
    transform: scale(1.3);
}

@keyframes colormove {
    0% {
        background-color: rgb(219, 158, 26);
    }
    50% {
        background-color: rgb(208, 125, 8);
    }
    100% {
        background-color: rgb(219, 158, 26);
    }
}

.search {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.sort {
    background-color: rgb(246, 234, 144);
    padding: 10px;
    border-radius: 18px;
    color: rgb(81, 42, 0);
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}

.sort:hover {
    background-color: rgb(56, 26, 1);
    color: rgb(255, 202, 110);
    box-shadow: 0 0 5px rgb(255, 202, 110);
}

.sort:active {
    transform: scale(0.95);
    opacity: 0.8;
}

#search-input {
    width: 300px;
    padding: 10px;
    border-radius: 18px;
    border: none;
    font-size: 16px;
    outline: none;
}

#search-input:hover {
    opacity: 0.9;
}

#search-input:focus {
    box-shadow: 0 0 5px rgb(246, 234, 144);
    opacity: 1;
}


/* form formatting  */

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    margin: auto;
    margin-top: 90px;
    margin-bottom:150px;
    background-color: rgb(246, 234, 144);
    padding: 40px 20px;
    border-radius: 5px;
    color: rgb(81, 42, 0);
}

.form > h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 32px;
}

.form > input {
    padding: 10px;
}

.form > input, .form > textarea {
    border: solid 2px rgb(104, 54, 1);
    border-radius: 2px;
    font-size: 16px;
    outline: none;
}

.form > input:hover, .form > textarea:hover {
    animation: colormove 0.5s infinite;
    opacity: 0.8;
}

.form > input:focus, .form > textarea:focus {
    opacity: 1;
    animation: none;
    box-shadow: 0 0 8px rgb(157, 83, 5);
}

.form > label {
    margin: 8px 0;
    font-size: 20px;
    /* transition: text-decoration 0.5s linear; */
}

textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 50px;
}

#submit {
    margin-top: 10px;
}

.warning {
    margin-top: 5px;
    text-align: center;
    color: rgb(249, 5, 5);
    width: 100%;
    height: 100%;
    background-color: rgb(104, 54, 1);
    border-radius: 2px;
}

.warning > h2 {
    font-size: 16px;
    margin: 0;
}


@media screen and (max-width:515px) {

    #search-input {
        width: 90%;
        height: 28px;
        font-size: 20px;
    }

    .search {
        flex-direction: column;
        gap: 10px;
    }

    .sort {
        font-size: 20px;
    }

    .card-container {
        font-size: 20px;
    }

    .form {
        width: 80%;
    }
}